# {{ ansible_managed }}
{{ beats_config_filebeat_filebeat|to_nice_yaml }}
{{ beats_config_filebeat_output|to_nice_yaml }}
{{ beats_config_filebeat_shipper|to_nice_yaml }}
{{ beats_config_filebeat_logging|to_nice_yaml }}
