# {{ ansible_managed }}
{{ beats_config_topbeat_input|to_nice_yaml }}
{{ beats_config_topbeat_output|to_nice_yaml }}
{{ beats_config_topbeat_shipper|to_nice_yaml }}
{{ beats_config_topbeat_logging|to_nice_yaml }}
